
<img src="{{ CE_Events.CE_file }}">
<h1> {{ CE_Events.CE_name }} </h1>
<h3> {{ CE_Events.CE_description }} </h3>
<ul>
     <li> {{ CE_Events.CE_location}} </li>
     <li> {{ CE_Events.CE_date_and_time}} </li>
     <li> {{ CE_Events.CE_value}} </li>
     <li> {{ CE_Events.}} </li>
     <li> {{ CE_Events.}} </li>
</ul>

{% extends 'music/base.html' %}
{% block tittle  %}Crie um novo Evento {% endblock %} 
{% block event_active %}active{% endblock %}
{% block body%}
<div class="container-fluid">
<div class="row">

{% endblock %}