{% extends 'CE_base.html' %}

{% block base %}
{% load staticfiles %}
        <div class="main-header">
            <div class="logo-header">
                <a href="/" class="logo">
                    Agenda Cultural Ituana
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
            </div>
            <nav class="navbar navbar-header navbar-expand-lg">
                <div class="container-fluid">
                    <!-- this is the search bar -->
                    <form class="navbar-left navbar-form nav-search mr-md-3" action="">
                        <div class="input-group">
                            <input type="text" placeholder="Procurar ..." class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-search search-icon"></i>
                                </span>
                            </div>
                        </div>
                    </form>
                    <!-- this is the insert_modal button -->
                    <ul class="nav-item update-pro">
                        <a href="create_event/">
                            <button  data-toggle="modal" data-target="#modalRecord" >
                            <i class="la la-hand-pointer-o"></i>
                            <p>Cadastre Um Evento!</p>
                            <!-- code the modal and event insertion -->
                        </button>
                    </a>
                    </ul>
                    
                    <!-- this is the buttons on the far right -->
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item dropdown hidden-caret">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="la la-envelope"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class="dropdown-item" href="#">Enviar Mensagem</a>
                                <a class="dropdown-item" href="#">Receber notificacoes</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Doar para o site!</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="la la-bell"></i>
                                <!--Put the correct amount of changes here-->
                                <span class="notification">3</span>
                            </a>
                            <ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
                                <li>
                                    <div class="dropdown-title">Atividades Recentes!</div>
                                </li>
                                <li>
                                    <div class="notif-center">
                                        <a href="newer_events">
                                            <div class="notif-icon notif-primary"> <i class="la la-user-plus"></i> </div>
                                            <div class="notif-content">
                                                <span class="block">
                                                    Novos eventos cadastrados
                                                </span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="notif-icon notif-success"> <i class="la la-comment"></i> </div>
                                            <div class="notif-content">
                                                <span class="block">
                                                    Novos Comentarios
                                                </span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="notif-icon notif-danger"> <i class="la la-won"></i> </div>
                                            <div class="notif-content">
                                                <span class="block">
                                                    Eventos Finalizados.
                                                </span> 
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="notif-icon notif-danger"> <i class="la la-asterisk"></i> </div>
                                            <div class="notif-content">
                                                <span class="block">    
                                                    Eventos Bloqueados!
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="sidebar" id ="leftCol">
                <div class="scrollbar-inner sidebar-wrapper">

                    <ul class="nav">
                        <li class="nav-item ">
                            <div class="user">
                                <div class="photo">
                                <img src="{% static 'img/profile.jpg' %}">
                                </div>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a href="/">
                                <i class="la la-dashboard"></i>
                                <p>Todos</p>
                                <span class="badge badge-count">{{CE_Events.count}}</span> <!--aqui que vai o resultado da busca -->
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="newer_events">
                                <i class="la la-dashboard"></i>
                                <p>Adicionados Recentemente</p>
                                <span class="badge badge-count">5</span> <!--aqui que vai o resultado da busca -->
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="next_events">
                                <i class="la la-table"></i>
                                <p>Proximos Eventos</p>
                                <span class="badge badge-count"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="location">
                                <i class="la la-keyboard-o"></i>
                                <p>Por Bairro</p>
                                <span class="badge badge-count"></span>
                            </a>
                        </li>
                        <li class="nav-item update-pro">
                            <a href="create_event">
                            <button   data-toggle="modal" data-target="#modalRecord">
                                <i class="la la-hand-pointer-o"></i>
                                <p>Cadastre Um Evento!</p>
                                <!-- code the modal and event insertion -->
                            </button>
                        </a>
                        </li>
                        <!-- GERADOS AUTOMATICAMENTE -->
                        {% for item_n, name, counts in event_counts %}
                        <li class="nav-item">
                            <a href="list_event/{{item_n}}">
                                <i class="la la-bell"></i>
                                <p>{{name}}  </p>
                                <span class="badge badge-success">{{counts}}</span>
                            </a>
                        </li>
                        {% endfor %}                       
                    </ul>
                </div>
            </div>
{% block body %}
{% endblock body %} 

{% endblock base %}

