<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Agenda Cultural Ituana</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'css/ready.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">    
</head>

<body>
<div class="wrapper">
	{% block details_content%}
	{% endblock details_content%}
    
	{% block content_save %}
	{% endblock content_save %}

	{% block CE_success %}
	{% endblock CE_success %}

    {% block CE_list %}
    {% endblock CE_list %}
    
    {% block base %}
    {% endblock base %}

    {% block account_form %}
    {% endblock account_form %}
</div>
</body>
<script src="{% static 'js/core/jquery.3.2.1.min.js'%}"></script>
<script src="{% static 'js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js'%}"></script>
<script src ="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.js'%}"></script>
<script src="{% static 'js/core/popper.min.js'%}"></script>
<script src="{% static 'js/core/bootstrap.min.js'%}"></script>
<script src="{% static 'js/plugin/chartist/chartist.min.js'%}"></script>
<script src="{% static 'js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js'%}"></script>
<script src="{% static 'js/plugin/bootstrap-notify/bootstrap-notify.min.js'%}"></script>
<script src="{% static 'js/plugin/bootstrap-toggle/bootstrap-toggle.min.js'%}"></script>
<script src="{% static 'js/plugin/jquery-mapael/jquery.mapael.min.js'%}"></script>
<script src="{% static 'js/plugin/jquery-mapael/maps/world_countries.min.js'%}"></script>
<script src="{% static 'js/plugin/chart-circle/circles.min.js'%}"></script>
<script src="{% static 'js/plugin/jquery-scrollbar/jquery.scrollbar.min.js'%}"></script>
<script src="{% static 'js/ready.min.js'%}"></script>
</html>
