{% extends 'base.html' %}

{% block body %}
{% load staticfiles %}
<div class="main-panel">
    <div class="container-fluid">
        <div class="row"><h6>1234132 </h6></div>

            <div class="row"><h1>1234132 </h1></div>
            <div class="row align-items-center">
                <div class="container-fluid">
                    <div class="row align-items-center"><h6>Lista de eventos </h6></div>
                    <div class="row align-items-center">
                        {% if CE_Events %}
                        <div id="schedule" class="container">
                            
                            <div id= "schedule-carousel" class="carousel slide" data-interval="3000" data-pause="hover" data-wrap="true" data-ride="carousel">
                                <ol class = "carousel-indicators">
                                    {% for ce in CE_Events %}
                                    {% if forloop.counter0 == 0 %}
                                    <li data-target = "#schedule-carousel" data-slide-to = "{{forloop.counter0}}"  class = "active"></li>
                                    {% else %}
                                    <li data-target = "#schedule-carousel" data-slide-to = "{{forloop.counter0}}"></li>
                                    {% endif %}
                                    {% endfor %}
                                </ol>
                            
                                <div class="carousel-inner">
                                    {% for CE in CE_Events %}
                                    {% if forloop.counter0 == 0 %}
                                    <div class= "carousel-item active"> 
                                        <div class ="container text-center" >
                                        <a href="details_event/{{CE.id}}"> 
                                        {% if CE.File %}
                                        <img alt = "{{CE.str}}" class = "img-responsive" src="{{CE.File.url}}" style="width:100%;">
                                        {% else %}
                                        <img alt = "{{CE.str}}" class = "img-responsive" src="{% static 'img/default_event_image.jpg' %}" style="width:100%;">
                                        {% endif %}
                                        </a>
                                            <h5 class="tittle">"{{CE.tittle}}"</h5>
                                            <p>"{{CE.summary}}"</p>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class= "carousel-item">
                                        <div class ="container text-center" >
                                        <a href="details_event/{{CE.id}}"> 
                                        {% if CE.File %}
                                        <img alt = "{{CE.str}}" class = "img-responsive" src="{{CE.File.url}}" style="width:100%;">
                                        {% else %}
                                        <img alt = "{{CE.str}}" class = "img-responsive" src="{% static 'img/default_event_image.jpg' %}" style="width:100%;">
                                        {% endif %}
                                        </a>
                                        </a>
                                            <h5 class="tittle">"{{CE.tittle}}"</h5>
                                            <p>"{{CE.summary}}"</p>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>        
                               <a class="carousel-control-prev" href="#schedule-carousel" data-slide="prev">
                               <span class = "carousel-control-prev-icon"></span>
                               </a>
                               <a class="carousel-control-next" href="#schedule-carousel" data-slide="next">
                               <span class = "carousel-control-next-icon"></span>
                               </a>
                            </div>
                        </div>
                    {% else %}
                    <h6>Nenhum evento registrado</h6>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}