{% extends 'schedule/index/base.html' %}


{% block body %}
            <div class="main-panel">

            <div class="container-fluid">
            <div class="row"><h6>1234132 </h6></div>
            <div class="row"><h6>1234132 </h6></div>
            <div class="row align-items-center">
                <div id="schedule" class="container">
                    
                    <div id= "schedule-carousel" class="carousel slide" data-interval="3000" data-pause="hover" data-wrap="true" data-ride="carousel">
                        <ol class = "carousel-indicators">
                            <li data-target = "#schedule-carousel" data-slide-to = "0" class = "active"></li>
                            <li data-target = "#schedule-carousel" data-slide-to = "1" ></li>
                            <li data-target = "#schedule-carousel" data-slide-to = "2" ></li>
                        </ol>
                    
                        <div class="carousel-inner">
                            <div class= "carousel-item active"> <!-- dinamically allocate the items-->
                                <div class ="container text-center" >
                                <img alt = "{{CE_first.str}}" class = "img-responsive" src="{{CE_first.CE_file.url}}" style="width:100%;">
                                    <h5 class="tittle">"{{CE_first.CE_value}}"</h5>
                                    <p>"{{CE_first.CE_description}}"</p>
                                </div>
                            </div>
                            <div class= "carousel-item">
                                <div class ="container text-center" >
                                <img alt = "{{CE_second.str}}" class = "img-responsive" src="{{CE_second.CE_file.url}}" style="width:100%;" >
                                    <h5 class="tittle">"{{CE_second.CE_value}}"</h5>
                                    <p>"{{CE_second.CE_description}}"</p>
                                </div>
                            </div>
                            <div class= "carousel-item">
                                <div class ="container text-center" >
                                <img alt = "{{CE_third.str}}" class = "img-responsive" src="{{CE_third.CE_file.url}}" style="width:100%;" >
                                    <h5 class="tittle">"{{CE_third.CE_value}}"</h5>
                                    <p>"{{CE_third.CE_description}}"</p>
                                </div>
                            </div>
                        </div>        
                   <a class="carousel-control-prev" href="#schedule-carousel" data-slide="prev">
                   <span class = "carousel-control-prev-icon"></span>
                   </a>
                   <a class="carousel-control-next" href="#schedule-carousel" data-slide="next">
                   <span class = "carousel-control-next-icon"></span>
                   </a>
                    </div>
                </div>
                </div>
            </div>
    <!-- Modal -->
	<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h6 class="modal-title"><i class="la la-frown-o"></i> Cadastre um Evento!</h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">									
					<p>Estamos sempre tentando melhorar <b>Agenda Cultural</b></p>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
	

    <!-- Create Event Modal 
    <div class="modal fade" id="modalRecord" tabindex="-1" role="dialog" aria-labelledby="modalRecordEvent" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h6 class="modal-title"><i class="la la-frown-o"></i> Cadastre um Evento!</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">                                    
                    <p>Insira seu evento na <b>Agenda Cultural</b></p>
                </div>
                <div class="panel panel-default">
                <a href="">
                    <img src="{{CulturalEvent.file.url}}" class="img-responsive">
                </a>
                </div>
                <div class="form-group">
                  <label for="CE_name">Nome do evento:</label>
                  <input type="text" class="form-control" id="CE_name">
                </div>
                <div class="form-group">
                  <label for="CE_date_and_time">Data e horario:</label>
                  <input type="date_and_time" class="form-control" id="CE_date_and_time">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>

            </div>
            
        </div>
    </div>
    -->
    <div id="modalRecord" class="modal fade" role="dialog" aria-labelledby="modalRecordEvent" aria-hidden="true">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">File upload form</h4>
                </div>
                <div class="modal-body">
                    <!-- Form -->
                    <form method='POST' action='' enctype="multipart/form-data">{% csrf_token %}
                      Select file : <input type='file' name='file' id='file' class='form-control' ><br>
                      <input type='submit' class='btn btn-default' value='Arquivo' id='upload'>
                    </form>
                </div>
                <!-- Preview-->
                <div id='preview'></div>
              </div>
        </div>        
    </div>

{% endblock %}